<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">List</div>
        <!--<div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>-->
    </div>
</div>
<div class="pages">
    <div data-page="course-details" class="page">
        <div class="page-content" id="page-content">
			<div class="content-block-title">Certificate 4 Building &amp; Construction Tutorial</div>
			<div class="content-block">
				<div class="content-block-inner">
				<p>Dates:</p>
				<ul>
					<li>May 30, 2017 5:30 pm - 8:30 pm</li>
					<li>June 6, 2017 5:30 pm - 8:30 pm</li>
					<li>June 13, 2017 5:30 pm - 8:30 pm</li>
					<li>June 20, 2017 5:30 pm - 8:30 pm</li>
				</ul>
				</div>
			</div>
        </div>
    </div>
</div>
