<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Course Booking Form</div>
        <!--<div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>-->
    </div>
</div>
<div class="pages">
    <div data-page="course-booking" class="page">
        <div class="page-content">
			<div class="content-block-title">Booking Form</div>
			<div class="content-block">
				<div class="content-block-inner" id="form-content">
					
				</div>
			</div>
        </div>
    </div>
</div>
