<!DOCTYPE html>
<html>
<head>
    <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->
	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; font-src 'self' data:; img-src 'self' data:;">

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Your app title -->
    <title>My App</title>

    <!-- This template defaults to the iOS CSS theme. To support both iOS and material design themes, see the Framework7 Tutorial at the link below:
        http://www.idangero.us/framework7/tutorials/maintain-both-ios-and-material-themes-in-single-app.html
     -->

    <link rel="stylesheet" href="lib/framework7/css/framework7.ios.min.css">
    <link rel="stylesheet" href="lib/framework7/css/framework7.ios.colors.min.css">

	<link rel="stylesheet" href="css/framework7-icons.css">
    <link rel="stylesheet" href="css/styles.css">
	
	<!-- Templates -->
	<!-- TODO: Switch to Template7 Dynamic Pages? -->
	<script type="text/template7" id="courseListTemplate">
		{{#each this.posts}}
		<li>
			<a href="course-details.html?id={{this.id}}&event_id={{this.data[0].event_id}}&recurrence={{this.data[0].recurrence}}" class="item-link item-content">
				<div class="item-inner">
					<div class="item-title">
						{{this.title.rendered}}
					</div>
				</div>
			</a>
		</li>
		{{/each}}
	</script>
	<script type="text/template7" id="courseDetailsTemplate">
		<div class="content-block-title">{{this.post.title.rendered}}</div>
		<div class="content-block">
			<div class="content-block-inner">
			{{this.post.excerpt.rendered}}
			{{this.post.content.rendered}}
			
			<p>Select a time below to load the booking form on our website. </p>
			</div>
		</div>
	</script>
	<script type="text/template7" id="courseDatesTemplate">
		<div class="list-block">
			<ul>
			{{#each this.events}}
				<li>
					<!--<a href="http://peopleperformance.com.au/events/{{this.event_slug}}" target="_blank" class="item-link item-content">-->
					<a href="course-booking.html?event_id={{this.event_id}}" class="item-link item-content">
						<div class="item-inner">
							<div class="item-title">
								{{formatDate this.event_start_date this.event_start_time "llll"}}
							</div>
						</div>
					</a>
				</li>
			{{/each}}
			</ul>
		</div>
	</script>
</head>

<body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>

    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
	<!--
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            <p>Left panel content goes here</p>
        </div>
    </div>-->

    <!-- Views -->
    <div class="views">
        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">
            <!-- Top Navbar-->
            <div class="navbar">
                <div class="navbar-inner">
                    <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                    <div class="center sliding">People Performance</div>
                    <!--<div class="right">-->
                        <!--
                          Right link contains only icon - additional "icon-only" class
                          Additional "open-panel" class tells app to open panel when we click on this link
                        -->
						<!--
                        <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
						-->
                    <!--</div>-->
                </div>
            </div>
            <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                <!-- Page, "data-page" contains page name -->
                <div data-page="index" class="page">
                    <!-- Scrollable page content -->
                    <div class="page-content">
                        <div class="content-block">
							<img src="img/logo.png" class="logo">
                            <!-- Link to another page -->
                            <!--<a href="about.html">About app</a>-->
                        </div>
						<div class="list-block">
							<ul>
								<li>
									<a href="list.html" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title">
												Course Calendar
											</div>
										</div>
									</a>
								</li>
								<!--
								<li>
									<a href="list2.html" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title">
												Course Calendar (Static)
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title">
												Student Resources
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title">
												Upcoming Events
											</div>
										</div>
									</a>
								</li>
								-->
							</ul>
						</div>
                    </div>
                </div>
            </div>
            <!-- Bottom Toolbar-->
			<!--
            <div class="toolbar">
                <div class="toolbar-inner">
                    <a href="#" class="link">Link 1</a>
                    <a href="#" class="link">Link 2</a>
                </div>
            </div>
			-->
        </div>
    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="lib/framework7/js/framework7.min.js"></script>
	<script type="text/javascript" src="js/moment.js"></script> 
    <script type="text/javascript" src="js/my-app.js"></script>
</body>

</html>