<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">List</div>
        <!--<div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>-->
    </div>
</div>
<div class="pages">
    <div data-page="list" class="page">
        <div class="page-content">
            <div class="content-block">
            </div>
			<div class="content-block-title">Course List</div>
			<div class="list-block">
				<ul>
					<li>
						<a href="course-details2.html" class="item-link item-content">
							<div class="item-media"><i class="f7-icons color-building">calendar</i></div>
							<div class="item-inner">
								<div class="item-title">Certificate 4 Building &amp; Construction Tutorial</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="f7-icons color-core">calendar</i></div>
							<div class="item-inner">
								<div class="item-title">Campus Delivery</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="f7-icons color-construction">calendar</i></div>
							<div class="item-inner">
								<div class="item-title">Construction Online Tutorial</div>
							</div>
						</a>
					</li>
					<li>
						<a href="#" class="item-link item-content">
							<div class="item-media"><i class="f7-icons color-plumbing">calendar</i></div>
							<div class="item-inner">
								<div class="item-title">Arc welding and Oxy-acetylene workshop</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
        </div>
    </div>
</div>
